@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carter One';
}
header{
    width: 100%;
    max-height: 150px;
    background-color: #aaa;
    box-shadow: .0 .05rem 1rem rgba(0, 0, 0, 0.8);
}
header img{
    width: 50px;
}
header > div{
    margin: auto;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 1.5rem;
}

section{
    text-align: center;
    margin-top: 1rem;
}
section > div{
    display: flex;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}
section h2{
    font-size: 2rem;
}
section > div > div:nth-child(1){
    background-color: #666;
    border: .5rem solid black;
    width: 400px;
    height: 600px;
    left: calc(50% - 200px);
    z-index: 1;
}
section > div > div:nth-child(1) i{
    margin-top: 3rem;
    font-size: 12rem;
}
section > div > div:nth-child(1) h3{
    margin-top: 1.8rem;
    font-size: 2rem;
}
section > div > div:nth-child(1) button{
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
    background-color: black;
    border: none;
    padding: .5rem 2rem;
    border-radius: .5rem;
}
#canvas{
    position: absolute;
    transform: translatex(0);
    z-index: 0;
    left: calc(50% - 200px);
}

footer{
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
    background-color: black;
}
footer p{
    font-size: 1.7rem;
    color: white;
}
footer p a{
    text-decoration: none;
}
footer p a:hover{
    text-shadow: 0 .1rem .5rem;
}
